body {
    background: url(/img/paper-pattern.png) repeat;
}

a {
    color: #685648;
}

a:hover, a:active {
    color: #8E7F72;
    text-decoration: none;
}

.world {
    width: 25%;
    height: 20%;
}
.btn-primary {
    background-color: #685648;
    border-color: #453C35;
}

.btn-primary:hover {
    background-color: #4D3E33;
    border-color: #453C35;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #685648;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

#navigation {
    margin-top: 57px;
    border-radius: 4px;
}

@media (max-width: 1199px) {
    #navigation {
        margin-top: 20px;
    }

    .logo img {
        max-width: 50%;
        max-height: 50%;
    }
}

@media (max-width: 639px) {
    .logo img {
        max-width: 70%;
        max-height: 70%;
    }
}

.navbar-header p {
    padding: 0 10px;
    margin: 0 0;
    line-height: 50px;
}

.guest-notice {
    float: right;
    line-height: 50px;
    padding: 0 10px;
    margin: 0 0;
}

.game-navigation:first-child a {
    padding-left: 0;
}

.unsolved-notice {
    color: white;
    font-size: 9px;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 2px 4px;
    border-radius: 3px;
}

@media (max-width: 767px) {
    .game-navigation:first-child a {
        padding-left: 10px;
    }
}

#main-container {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

#main-content h1 {
    margin-top: 0px;
}

.footer {
    margin-bottom: 20px;
}

.footer p {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    margin: 0 0;
}

.report {
    padding: 0, 15px;
}

.report-item {
    margin-bottom: 20px;
}

.report-question {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.report-answers {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.report-answers:last-child {
    border-bottom: 1px solid #CCCCCC;
}

.report-answer {
    line-height: 30px;
    border-top: 1px solid #CCCCCC;
}

.answer-image-placeholder {
    
}

.report-answer-text {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.correct-answer {
    background-color: green;
    color: white;
}

.map {
    width: 100%;
}

.coordinates {
    width: 100%;
    text-align: center;
}

.map-row {
    margin-left: 1%;
    margin-right: 1%;
    border-left: 1px dashed #82b02a;
}

.map-row:first-child .village, .map-row:first-child .empty_territory{
    border-top: 1px dashed #82b02a;
}

.village, .empty_territory {
    width: 14.2857142857%;
    padding: 1% 1%;
    float: left;
    border-right: 1px dashed #82b02a;
    border-bottom: 1px dashed #82b02a;
    background-color: #d6e9cf;
}

.owned-territory {
    background-color: #A3D490;
}

.village img, .empty_territory img {
    max-width:100%;
    max-height:100%;
}

.info-container {
    padding-top: 100px;
}

@media (max-width: 767px) {
    .info-container {
        padding-top: 10px;
    }
}

.map-up, .map-down {
    width: 100%;
    clear: both;
    text-align: center;
}

.map-left, .map-right {
    width: 50%;
    float: left;
}

.map-left {
    text-align: right;
    padding-right: 20px;
}

.map-right {
    padding-left: 20px;
}

.map-left img {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
}

.map-right img {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

.map-down img {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

.territory-info {
    padding-top: 20px;
}

.map-search-box {
    text-align: center;
}

.map-search-box label {
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
}

.map-search-textbox {
    height: 34px;
    width: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.map-search-box button {
    margin-left: 5px;
}

@media (max-width: 991px) {
    .map-search-box button {
        margin-left: 0px;
        margin-top: 5px;
        width: 100%;
    }
}   

@media (max-width: 767px) {
    .map-search-box button {
        margin-left: 5px;
        margin-top: 0px;
        width: 40px;
    }
}

td.village-name, td.player-name {
    text-align: right;
}

.territory-profile .territory-image {
    text-align: center;
}

.territory-profile img {
    max-width:100%;
    max-height:100%;
}

.territory-profile .empty-territory-image {
    border: 1px dashed #82b02a;
    background-color: #d6e9cf;
}

.territory-profile h3 {
    margin-top: 0px;
}

.territory-profile-description {
    padding-left: 50px;
    font-style: italic;
}

.territory-profile-player {
    padding-top: 10px;
    margin-bottom: 20px;
}

.territory-profile-buttons a {
    margin-right: 10px;
}

@media (max-width: 410px) {
    .territory-profile-buttons a {
        margin-right: 0px;
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .territory-profile-player {
        padding-top: 0;
    }

    .territory-profile-buttons {
        text-align: center;
    }
}

.search-form {
  display: inline;
  width: 500px;
}

.form-components{
    width:200px;
    float:left;
    padding:0px 5px;
}

.profile-player {

}

.profile-player-pic {
    float: left;
}

.profile-player img {
    width: 200px;
    height: 200px;
}

.profile-player-name {
    float: left;
    padding-left: 20px;
    padding-top: 65px;
}

@media (max-width: 525px) {
    .profile-player-pic {
        float: none;
        width: 100%;
        text-align: center;
    }

    .profile-player-name {
        float: none;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }

    .profile-player-name h3 {
        margin: 0 0;
    }
}

.profile-player-stats {
    margin-top: 20px;
}

.profile-villages {

}

.profile-villages-header {
    
}

.profile-villages-list {
    overflow-y: auto;
    height: 400px;
}

.first-letter {
    color:#000000;
    float:left;
    font-size:30px;
    width:30px;
    text-align:center;
    height:30px;
}

.other-letters {
    height:30px;
    float:left;
    vertical-align:bottom;
    padding-top:17px;
}

.song-home {
    width:100%;
    clear:both;
    padding-bottom:5px;   
}



    