body {
    background: url(/img/paper-pattern.png) repeat;
}

#navigation {
    margin-top: 20px;
    border-radius: 4px;
}

#main-container {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

#main-content h1 {
    margin-top: 0px;
}

.report {
    padding: 0, 15px;
}

.report-item {
    margin-bottom: 20px;
}

.report-question {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.report-answers {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.report-answers:last-child {
    border-bottom: 1px solid #CCCCCC;
}

.report-answer {
    line-height: 30px;
    border-top: 1px solid #CCCCCC;
}

.answer-image-placeholder {
    
}

.report-answer-text {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.correct-answer {
    background-color: green;
    color: white;
}

.map {
    background-color: #57932f;
    width: 94%;
}

.left-arrow, .right-arrow {
    width: 3%;
    height: 10px;
}

.left-arrow, .right-arrow, .map {
    float: left;
}

.map-row {

}

.village, .empty_territory {
    width: 13.922077922%;
    padding: 1% 1%;
    margin: 2px 2px;
    float: left;
    border: 1px dashed white;
}

.village img, .empty_territory img {
    max-width:100%;
    max-height:100%;
}